= javascript_include_tag 'jquery.datetimepicker', 'data-turbolinks-track' => true
= stylesheet_link_tag    'jquery.datetimepicker', media: 'all', 'data-turbolinks-track' => true


h1 = @asset.name

= render partial: 'form', locals: {action: 'update'}
